header {
    width: 100%;
    height: 4.375rem;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.75rem;
    width: 8.875rem;
    margin-left: 20px;
}
